body{
    color: white;
    background-color: black;
    text-align: center;
}

header {
    height: 15vh;
    border: 1px solid red;
}

main {
    border: 1px solid white;
    min-height: 70vh;
}

footer {
    height: 15vh;
    border: 1px solid blue;
}